a {
    text-decoration: none;
    color: black;
}
body {
    padding-top: 70px;
}
h2 {
    font-size: 27px;
    font-family: "circular";
    margin-bottom: 5px;
}
h3 {
    font-size: 25px;
    font-family: "circular";
    margin-bottom: 5px;
}
h4 {
    font-size: 20px;
    font-family: "century";
    margin-bottom: 5px;
}
p, a, span, figcaption, label {
    font-family: "century";
    font-size: 16px;
    line-height: 22px;
}
input[type="text"] {
    font-family: "century";
    font-size: 13px;
}
.btn {
    font-family: "century";
    font-weight: bold;
    cursor: pointer;
    z-index: 9;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    letter-spacing: 0.5px;
}
.contactBtn, .bigContactBtn {
    background-color: #e94d50;
    color: white;
    border: none;
    background-image: url('../img/mail.svg');
    background-repeat: no-repeat;
}
.contactBtn:hover, .bigContactBtn:hover {
    background-color: white;
    color: #e94d50;
    background-image: url('../img/mail_red.svg');
    border: solid #e94d50 1px;
}

.contactBtn {
    padding: 8px 20px 8px 50px;
    background-position: 14px center;
    font-size: 16px;
    background-size: 25px;
}
.bigContactBtn {
    padding: 15px 20px 15px 70px;
    background-position: 23px center;
    font-size: 20px;
    background-size: 30px;
    box-shadow: 0px 4px 8px 0px grey;
}
.plusBtn {
    cursor: pointer;
    font-size: 16px;
    padding: 7px 10px 7px 10px;
    background-color: #447587;
    color: white;
    border: none;
}
.plusBtn:hover {
    background-color: white;
    color: #447587;
    border: solid #447587 1px;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
}
.clear {
    clear: both;
}
.skew {
    transform: skewX(-5deg);
    -webkit-transform: skewX(-5deg);
    -ms-transform: skewX(-5deg);
}
.skew img {
    transform: skewX(5deg);
    -webkit-transform: skewX(5deg);
    -ms-transform: skewX(5deg);
}
.skew p, .skew a, .skew h1, .skew h2, .skew h3, .skew h4, .skew span {
    transform: skewX(5deg);
    -webkit-transform: skewX(5deg);
    -ms-transform: skewX(5deg);
}
.skewBtm {
    transform: skewY(10deg);
    -webkit-transform: skewY(10deg);
    -ms-transform: skewY(10deg);
    width: 100%;
    height: 42.5vw;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.skewBtm .img {
    transform: skewY(-10deg);
    -webkit-transform: skewY(-10deg);
    -ms-transform: skewY(-10deg);
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -112px;
}
.blackOverlay {
    position: absolute;
    width: 100%; 
    height:100%;
    top:0; 
    left:0;
    background: black;
    opacity: 0.5;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    z-index: 2;
}
.blackOverlay.hover:hover {
    opacity: 0;
}
hr {
    width: 80px;
    border: 0;
    background-color: #e94d50;
    height: 1px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
}

#header {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
    z-index: 10; 
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
#header #logo {
    width: 80px;
    float: left;
    margin-left: 1%;
    margin-top: 8px;
}
#header #nav {
    list-style-type: none;
    float: right;
    color: #010101;
    margin-top: 5px;
}
#header #nav li {
    float: left;
    margin-right: 30px;
    padding-bottom: 22px;
}
#header #nav li:hover {
    border-bottom: solid #ea4d50 1px;
    padding-bottom: 5px;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
}
#header a {
    cursor: pointer;
    padding: 25px;
    font-family: "fetish";
    width: 100%;
}


#footer {
    height: 95px;
    box-sizing: border-box;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    position: relative;
    text-align: center;
    background: #457687;
    color: white;
}
#footer .icons {
    position: absolute;
    left: 40px;
    top: 35px;
}
#footer .icons img {
    margin-right: 20px;
}
#footer > p {
    position: absolute;
    top: 38px;
    left: 33%;
}
#footer label {
    position: absolute;
    right: 40px;
    top: 24px;
    width: 236px;
}
#footer input {
    width: 100%;
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 28px;
    box-sizing: border-box;
    background-color: white;
    background-image: url('../img/arrow-plane.svg');
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 210px 2px;
    color: #457687;
}
footer ::-webkit-input-placeholder {
    color: #457687;
}
footer ::-moz-placeholder {
    color: #457687;
}
footer :-moz-placeholder {
    color: #457687;
}
footer :-ms-input-placeholder {
    color: #457687;
}